/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/settings/_colors'
 
$theme := {
  primary: $blue.base
  accent: $blue.accent-2
  secondary: $grey.darken-3
  info: $blue.base
  warning: $amber.base
  error: $red.base
  success: $green.base
}

@import '../../node_modules/vuetify/src/stylus/main'

$bg-color := #F1F5F8

body {
  background: $bg-color
}

.application {
  background: $bg-color
}

/** Types */
.btn
  &--flat
    background-color: $grey.lighten-3 !important
    box-shadow: none !important

    &.btn--dark
      color: rgba($material-light.fg-color, .48)

    &.btn--light
      background-color: $theme.primary !important
 