<template>
  <v-app>
    <tool-bar :menuList="menuList" :title="name"></tool-bar>
    <main>
      <main-content><router-view></router-view></main-content>
    </main>
  </v-app>
</template>

<script>
  import {menuList} from '@/data'

  export default {
    data () {
      return {
        name: 'Your ERP System',
        menuList: menuList
      }
    }
  }
</script>

<style lang="stylus">
  @import './stylus/main'     
</style>
