<template>

  <div id="leave-dashboard">
    <div class="hidden-sm-and-down mt-4"></div>
    <v-layout row-md column child-flex-xs justify-space-around>
            
        <dashboard-card title="Ratio of Day Type" class="my-3 mx-2" v-if="ratioData !== null">
          <div class="chart-box px-1">
            <doughnut-chart :chart-data="ratioData" :totalUnit="$t(totalUnit)"></doughnut-chart>
          </div>
        </dashboard-card>

        <dashboard-card title="Distribution of Leave Day" class="my-3 mx-2" v-if="distributeData !== null">
          <div class="chart-box px-1">
            <herizontal-bar-chart :chart-data="distributeData" :options="barOptions"></herizontal-bar-chart>
          </div>
        </dashboard-card>
      
        <dashboard-card title="Annual Leave Balance" class="my-3 mx-2" v-if="annualLeaveData !== null">
          <div class="chart-box px-1">
            <doughnut-chart :chart-data="annualLeaveData" :totalUnit="$t(totalUnit)"></doughnut-chart>
          </div>
        </dashboard-card>      
        
    </v-layout>
  </div>
  
</template>

<script>
import services from '@/services'

export default {
  props: {
    totalUnit: {
      type: String,
      default: 'totalDayUnit'
    },
    barOptions: {
      type: Object,
      default: () => {
        return {
          scales: {
            xAxes: [
              {
                ticks: {
                  beginAtZero: true,
                  callback: function (value) {
                    if (value % 1 === 0) { return value }
                  }
                }
              }
            ]
          },
          legend: {display: false}
        }
      }
    }
  },
  data () {
    return {
      ratioData: null,
      distributeData: null,
      annualLeaveData: null
    }
  },
  created () {
    this.fillData()
  },
  methods: {
    fillData () {
      services.getLeaveDashboardData().then(result => {
        this.ratioData = {
          labels: result.ratio.labels,
          datasets: [
            {
              backgroundColor: ['#3498db', '#95a5a6', '#f1c40f', '#e74c3c'],
              data: result.ratio.data
            }
          ]
        }

        this.distributeData = {
          labels: result.distribute.labels,
          datasets: [
            {
              backgroundColor: '#3498db',
              data: result.distribute.data
            }
          ]
        }

        this.annualLeaveData = {
          labels: result.annualLeave.labels,
          datasets: [
            {
              backgroundColor: ['#3498db', '#95a5a6', '#f1c40f', '#e74c3c'],
              data: result.annualLeave.data
            }
          ]
        }
      })
    }
  }
}
</script>

<style scoped>
  .chart-box {
    width: 100%;
    height: 100%;
  }
</style>
